@import url('./global.css');
@import url('./product.css');
@import url('./main.css');
@import url('./about.css');
@import url('./contact.css');
@import url('./shop.css');
@import url('./404.css');
@import url('./footer.css');
@import url('./header.css');
