/* Definimos el tamaño de la celda de la cuadrícula en CSS y JS */
:root {
    --map-whith: 632px;
    --map-height: 632px;
    --grid-size: 70px;
    --token-size: 58px;
    --token-border-size: 5px;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #222;
    font-family: sans-serif;
    /* Usamos flex para colocar el mapa a la izquierda y la caja de texto a la derecha */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100vh;
}

.texts {
    background-color: rgba(0,0,0,0.85);
    width: 33vw; /* ocupa una tercera parte en pantallas grandes */
    min-width: 260px;
    height: 100vh;
    color: white;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 20;
    /* aspecto ligero */
    box-shadow: -6px 0 20px rgba(0,0,0,0.6);
}

#map-container {
    width: 67vw;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
    position: relative; /* para que #map-layer absolute se posicione respecto a este contenedor */
}

#map-layer {
    position: absolute;
    /* Usamos un mapa grande para que se pueda hacer zoom */
    width: var(--map-whith);
    height: var(--map-height);
    background-size: cover;
    transition: transform 0.1s ease-out;
    transform-origin: 0 0;
    user-select: none;
    z-index: 1;
    /* Asegura que esté detrás de los tokens */

    /* Dibuja una cuadrícula visible usando un gradiente CSS (Opcional, pero útil) */
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.3) 2px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 2px, transparent 1px),
        url("../imgs/castle-mimic-45x60-v0-v85iqdtrqvuf1.webp");

    background-size: var(--grid-size) var(--grid-size),
        var(--grid-size) var(--grid-size),
        cover;
}

.token {
    position: absolute;
    width: var(--token-size);
    height: var(--token-size);
    border-radius: 50%;
    border: var(--token-border-size) solid gold;
    cursor: move;
    z-index: 10;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    background-image: url("../imgs/castle-mimic-45x60-v0-v85iqdtrqvuf1.webp");

}

#token-2 {
    background-image: url("../imgs/castle-mimic-45x60-v0-v85iqdtrqvuf1.webp");
    border-color: deepskyblue;
}