/* Definimos el tamaño de la celda de la cuadrícula en CSS y JS */
:root {
    --map-whith:602px;
    --map-height:602px;
    --grid-size: 50px;
    --token-size: 42px;
    --token-border-size:3px;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #222;
    font-family: sans-serif;
}

#map-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: grab;
}

#map-layer {
    position: absolute;
    /* Usamos un mapa grande para que se pueda hacer zoom */
    width: var(--map-whith);
    height: var(--map-height);
    background-size: cover;
    transition: transform 0.1s ease-out;
    transform-origin: 0 0;
    user-select: none;
    z-index: 1;
    /* Asegura que esté detrás de los tokens */

    /* Dibuja una cuadrícula visible usando un gradiente CSS (Opcional, pero útil) */
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0.3) 2px, transparent 1px),
        linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 2px, transparent 1px),
        url("../imgs/castle-mimic-45x60-v0-v85iqdtrqvuf1.webp");

    background-size: var(--grid-size) var(--grid-size),
        var(--grid-size) var(--grid-size),
        cover;
}

.token {
    position: absolute;
    width: var(--token-size);
    height: var(--token-size);
    border-radius: 50%;
    border: var(--token-border-size) solid gold;
    cursor: move;
    z-index: 10;
    background-size: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    background-image: url('https://via.placeholder.com/50/AA0000/FFFFFF?text=PJ');

}

#token-2 {
    background-image: url('https://via.placeholder.com/50/0000AA/FFFFFF?text=NPC');
    border-color: deepskyblue;
}