:root {
    --neon-cian: #00f3ff;
    --neon-pink: #ff006e;
    --neon-purple: #b537f2;
    --neon-green: #39ff14;
    --neon-blue: #0066ff;
    --bg-dark: #0a0a0f;
    --bg-darker: #050508;
    --bg-card: #12121a;
    --bg-card-hover: #1a1a28;
    --text-primary: #ffffff;
    --text-secondary: #b8b8d1;
    --text-muted: #6b6b8f;
}

* {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-dark);
    height: 100px;

    img {
        width: 13rem;
    }

    nav {
        width: 70%;
        text-decoration: none;

        ul {
            display: flex;
            justify-content: space-evenly;
            text-decoration: none;

            li>a {
                text-decoration: none;
                color: var(--text-primary);
            }

            li:last-child>a {
                color: var(--neon-green);
                padding: 4px 10px;
                border-style: solid;
                border-width: 3px;
                border-radius: 10px;
            }

            li:first-child>a {
                color: var(--neon-pink);
            }
        }
    }
}

#hero {
    height: 600px;
    display: flex;
    background:
        radial-gradient(var(--text-primary), var(--bg-card));
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    div {
        max-width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        h1 {
            color: var(--neon-cian);
            font-size: 80px;
            text-align: center;
        }

        p {
            color: var(--text-secondary);
        }

        div {
            flex-direction: row;

            a:first-child {
                color: var(--neon-cian);
                padding: 4px 10px;
                border-style: solid;
                border-width: 1px;
                border-radius: 10px;
            }

            a:last-child {
                color: var(--neon-pink);
                padding: 4px 10px;
                border-style: solid;
                border-width: 1px;
                border-radius: 10px;
            }
        }
    }

    a {
        text-decoration: none;
    }

    >a {
        color: var(--neon-cian);
    }
}

#information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    gap: 80px;
    background-color: var(--bg-card-hover);

    div {
        display: flex;
        padding: 4px 10px;
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
        min-width: 150px;

        img {
            width: 60px;
            height: 60px;
        }

        h2 {
            font-size: xx-large;
        }
    }

    div:nth-child(1) {
        color: var(--neon-cian);
    }

    div:nth-child(2) {
        color: var(--neon-pink);
    }

    div:nth-child(3) {
        color: var(--neon-purple);
    }

    div:nth-child(4) {
        color: var(--neon-green);
    }
}

#mision {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #050508;
    padding: 20px 0px;

    h1 {
        color: var(--neon-cian);
        font-size: 80px;
    }

    p {
        color: var(--text-secondary);
    }

    >div {
        display: flex;
        align-items: center;
        gap: 50px;
        padding: 40px 0px;

        >div {
            display: flex;
            flex-direction: column;
            gap: 20px;

            >h2 {
                color: #00f3ff;
                font-size: 50px;
            }

            >p {
                color: var(--text-secondary);
            }

            >div {
                display: flex;
                flex-direction: row;
                background-color: #12121a;
                border-color: var(--neon-purple);
                border-style: solid;
                border-width: 2px;
                border-radius: 10px;
                align-items: center;
                padding: 5px;

                img {
                    height: 30px;
                    width: 30px;
                }

                p {
                    color: var(--text-primary);
                }
            }
        }

        >img {
            width: 400px;
            height: 600px;
            color: var(--neon-cian);
            border-style: solid;
            border-width: 1px;
            border-radius: 10px;
        }
    }

}

#adoption-pets {
    background-color: var(--bg-card-hover);
    padding: 60px 0px;

    h1 {
        color: var(--neon-cian);
        font-size: 80px;
        text-align: center;
    }

    >p {
        color: var(--text-secondary);
        text-align: center;
    }

    >div {
        display: flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 60px 0px;
        margin: 0px 100px;

        >div {
            display: flex;
            color: var(--neon-purple);
            
            border-style: solid;
            border-width: 1px;
            border-radius: 10px;
            width: 300px;
            height: 600px;
            flex-direction: column;
            justify-content: space-between;

            img {
                overflow: hidden;
            }

            a {
                text-decoration: none;
                color: var(--neon-green);
                padding: 8px 20px;
                border-style: solid;
                border-width: 3px;
                border-radius: 10px;
                margin: 0px 10px 30px 10px;
            }
            p{
                padding: 0px 20px;
            }
            p:nth-child(2){
                color: var(--neon-pink);
            }
            p:nth-child(3){
                color: var(--text-muted);
            }
            p:nth-child(4){
                color: var(--text-primary);
            }
        }
    }
}