.etiqueta {
    background: lightgray;
    padding: 4px 8px;
    margin: 4px;
    border-radius: 3px;
    display: inline-block;
}

.seleccionada {
    background: green;
    color: white;
}

#aviso {
    color: red;
}
