* {
    padding: 0px;
    margin: 0px;
}

body {
    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    img {
        height: 50px;
    }

    nav {
        display: flex;
        gap: 10px;


    }

}
#section-forward{
    display: flex;

}

footer {
    display: flex;
    justify-content: space-between;

    div:first-child {
        flex-direction: column;
    }

    >div {
        display: flex;
        gap: 20px;

        img {
            width: 100px;
        }
        div{
            :first-child{
                color:rebeccapurple;
            }
        }
    }
}