@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font-creep: "Creepster";
    --font-roboto: "Roboto";
}
.creep{
    font-family: var(--font-creep);
    font-style: var(--font-creep);
}
.roboto{
    font-family: var(--font-roboto);
    font-style: var(--font-roboto);
}
*{
    margin: 0px;
    padding: 0px;
}
header >div {
    margin: 10px 10%;
}
section{
    margin: 0px 10%;
}
section:first-of-type {
    margin: auto;
}
hr{
    height:2px;
}
hr:first-of-type{
    height:5px;
}
#logo {
    height: 100px;

    img {
        height: 100%;
    }
}
#portada {
    height: 80vh;
    background: linear-gradient(to bottom, rgba(52, 52, 52, 0.3), rgba(0, 0, 0, 0.9)),url(./maquetacion-strangerthings/img/hero.jpg) center / cover no-repeat;
}